<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center">
    <h1>Welcome to the Physics Tracker</h1>
    <p>This application allows you to upload a video and track an object.</p>
    <p>First, upload a video file. MOV and MP4 files have been tested.</p>
    <p>Afterward, follow the simple instructions on the screens that follow.</p>
    <br/><%= link_to 'Get Started', 'http://bit.ly/physics-track', class: 'yellow_button' %><br/><br/><br/>
    <h3>An <a href="https://www.uml.edu/Honors/">Honors</a> Project at UMass Lowell</h3>
    <p>Fall 2017 by Doug Salvati</p>
    <p><a href="https://github.com/doug-salvati/Physics-Tracker">Check out the source code on <i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
  </body>
</html>
